<div>
{{#if questionWindow}}
    <div class="question-body">

        <div class="question-text-container">
            <p class="question-text">{{questionText}}</p>
        </div>

        <div class="answer-button">
            <p class="answer-text">{{answer1}}</p>
        </div>

        <div class="answer-button">
            <p class="answer-text">{{answer2}}</p>
        </div>

        <div class="answer-button">
            <p class="answer-text">{{answer3}}</p>
        </div>

        <div class="answer-button">
            <p class="answer-text">{{answer4}}</p>
        </div>
    </div>
{{/if}}
</div>
