<div class="main-block__form">
    <div class="main-block__profile">
        <div class="main-block__profile-user">
            <img src={{avatar}} alt="avatar" class="main-block__profile-user-avatar">
            <span class="main-block__profile-user-name">{{username}}</span>
        </div>
        <div class="main-block__profile-info">
            <ul>
                <li>
                    <p><strong>E-Mail:</strong> {{email}}</p>
                </li>
                <li>
                    <p><strong>Wins:</strong> {{wins}}</p>
                </li>
                <li>
                    <p><strong>Loses:</strong> {{loses}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>