<div>
	<div class="table">
		<div class="table-body">
			<div class="table-row">
				<div class="table-cell table-head">Gamer</div>
				<div class="table-cell table-head">Score</div>
			</div>

			{{#each this.records}}
			<div class="table-row">
				<div class="table-cell">{{username}}</div>
				<div class="table-cell">{{score}}</div>
			</div>
			{{/each}}
		</div>
	</div>

	<div class="paginator" ref="paginator">
		<a aria-level="Previous"><span aria-hidden="true">&laquo;</span></a>
		{{#each this.pages}}
		{{#if this.isCurrent}}
		<a class="current-page">{{this.value}}</a>
		{{else}}
		<a>{{this.value}}</a>
		{{/if}}
		{{/each}}
		<a aria-level="Next"><span aria-hidden="true">&raquo;</span></a>
	</div>
</div>
